<!DOCTYPE html>
<html>
<head>
    <title>Login - MedAdvisor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<header>
    <div class="logo-area">
        <img src="https://cdn-icons-png.flaticon.com/512/2966/2966483.png" class="logo">
        <h2>MedAdvisor Smart HealthCare</h2>
    </div>
    <div class="header-actions">
        <a href="/" class="link-btn">Home</a>
        <div class="toggle" onclick="toggleMode()">Toggle Theme</div>
    </div>
</header>

<div class="container">
    <h2>Login</h2>
    <form onsubmit="loginUser(); return false;">
        <input id="username" placeholder="Username" required>
        <input id="password" type="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
</div>

<script src="/static/main.js"></script>
</body>
</html>
